<mat-toolbar  class="shadow justify-content-between px-5 mb-4">
  <div>
    <span class="mat-h2">Retro-Board</span>
  </div>
  <div class="d-flex">
    <app-dialog (emitText)="addColumn($event)" question="Add new column">
      <button class="mr-3" mat-raised-button color="primary">
        New Column
      </button>
    </app-dialog>
    <button class="mr-3" mat-raised-button color="accent" (click)="onExportClick()">
      Save as PDF
    </button>
  </div>
</mat-toolbar>
